<link rel="stylesheet" href="/css/home.css">




        <div class="container" style="margin-top: 90px;">
            <div class="row no-gutters">
              <div class="col-md-4 border-right">
                <div class="settings-tray">
                    <div style="align-items: center; text-align:center;">
                        <h4>
                            ALL USERS
                        </h4>
                    </div>
                  </span>
                </div>
                <% for(u of all_users){ %>
                    <div class="friend-drawer friend-drawer--onhover">
                        <img src="<%= curr_user.avatar %>" alt="<%= curr_user.name %>" width="100">
                        <img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg" alt="">
                        <div class="text">
                            <h6><a href="/users/profile/<%= u.id %>"><%= u.name %></a></h6>
                        </div>
                    </div>
                    <hr>
                <% } %>
              </div>
              <div class="col-md-8" >
                <div class="settings-tray">
                    <div style="align-items: center; text-align:center;">
                        <h4>
                            ALL MESSAGES
                        </h4>
                    </div>
                </div>
                <div class="chat-panel">
                  <div class="row no-gutters">
                    <% for(post of posts){ %>
                    <div class="col-md-9">
                        <div id="posts-list-container">
                            <ul>
                    
                                    <% if(locals.user && locals.user.id == post.user.id) { %>  
                                        
                                        <div class="col-md-9">
                                            <%= post.user.name %>
                                            <div class="chat-bubble chat-bubble--left">
                                                <%- include('_post') -%>
                                            </div>
                                        </div>
                                    <% } else { %>  
                                        <div class="col-md-9 offset-md-7">
                                            <%= post.user.name %>
                                            <div class="chat-bubble chat-bubble--right">
                                                <%- include('_post') -%>
                                            </div>
                                        </div>
                                        
                                    <% } %>
                    
                            </ul>
                        </div>
                        
                    </div>
                    <% } %>
                  </div>

                  <div class="col-lg-12 col-sm-12 col-xs-12 card" style="position: fixed;
                    right: 0; bottom:0; text-align:center;">
                        <form action="/posts/createPost" id="new-post-form" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <textarea name="content" class="form-control" cols="30" rows="1" placeholder="Type here..." required></textarea>
                            </div>
                            <div class="mb-3">
                                <input type="file" class="form-control" name="postpic" placeholder="post-picture" ><br>
                            </div>
                            <div class="mb-3">
                                <input type="submit" class="form-control" value="post">
                            </div>
                        </form>
                    </div>
                  
                  <!-- <div class="row">
                    <div class="col-12">
                      <div class="chat-box-tray">
                        <form action="/posts/createPost" id="new-post-form" method="POST" enctype="multipart/form-data">
                            <i class="fa-solid fa-face-smile 8px"></i>
                            <i class="material-icons">sentiment_very_satisfied</i>
                            <input type="text" placeholder="Type your message here...">
                            <i class="material-icons">
                                <input type="file" class="form-control" name="postpic" placeholder="post-picture" ><br></i>
                            <i class="material-icons">
                                <input type="submit" class="form-control" value="post"></i>
                        </form>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>        

<script src="/js/home_posts.js"></script>

